* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-image: linear-gradient(180deg, #1c9588 150px, #dadbd4 150px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    min-width: 800px;
    width: 80%;
    height: 90vh;
    margin: 5vh auto;
    display: flex;   
}

.container::after{
    display: block;
    content: '';
    clear: both;
}

.left .right{
    float: left;
    height: 100%;
}

.left{
    width: 35%;
    display: flex;
    flex-direction: column;
}

.right{
    width: 65%;
    display: flex;
    flex-direction: column;
}


/* parte sinistra */
.header-left, .header-right{
    height: 60px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    padding: 10px;
}

.avatar{
    width: 50px;
    border-radius: 50%;
}

.header-buttons{
 margin-left: auto;
 color: #b1b1b1;
 font-size: 20px;
}

.header-buttons i{
    padding: 10px;
}

.header-text{
    font-weight: 500;
    padding: 10px;
}

.notification-left{
    height: 80px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.left-notification{
    font-size: 20px;
}

.left-notification i{
    font-size: 20px;
    background-color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    color: #8edafc;
    margin: 0px 15px ;
}

.search-input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: solid 1px #eee;
    border-radius: 2px;
} 

.search-input-wrapper {
    position: relative;

}
.search-input-wrapper::before {
    font-family: "Font Awesome\ 5 Free"; 
    content: "\f002";
    font-weight: 600;
    color: #B1B1B1;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}

.search-input-wrapper .search-input {
    width: 100%;
    padding-left: 40px;
}

.contacts-left{
    background-color: #fff;
    flex-grow: 1;
    overflow-y: scroll;
}

.contact{
    display: flex;
    padding: 10px;
}

.contact-logo img{
    height: 60px;
    border-radius: 50%;
    padding: 0 15px;
}

.contact-info {
    width: calc(100% - 100px);
    font-weight: 400;
    position: relative;
}

.Date-contact{
    color: #b1b1b1;
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 5px;
}

.testo-messaggio{
    color: #B1B1B1;
    padding: 2px 0px 2px 0px;
}

.contact-info div{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contact.active, .contact:hover{
    background-color: lightgrey;
    cursor: pointer;
}

/* parte destra */
.header-contact{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.bottom-right{
    height: 60px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
}

.left-footer-icon, .right-footer-icon{
    width: 10%;
    float: left;
    text-align: center;
}

.message-input{
    float: left;
    width: 80%;
    width: 100%;
    padding: 10px 0px 10px 10px;
    font-size: 12px;
    border: solid 1px #eee;
    border-radius: 2px;
}

.bottom-right::after{
    content: '';
    display: block;
    clear: both;
}

.bottom-right{
    font-size: 20px;
    padding: 10px;
    color: #6b7377;
}

.message-right{
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
}

.message{
    max-width: 40%;
    min-width: 150px;
    padding: 20px 5px 5px 20px;
    border-radius: 10px;
}

.message.received{
    background-color: #fff;
    margin-bottom: 30px;
}

.message.sent{
    background-color: #d5f9ba;
    margin-left: auto;
    margin-bottom: 30px;
}

.testo-mess{
    margin-right: 20px;
}

.sentDate{
    font-size: 10px;
    color: #b1b1b1;
    text-align: right;
    margin-top: 5px;
}