<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoolZapp</title>
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container" id="root">
        
        <div class="left">
            <div class="header-left">
                <img class="avatar" src="img/avatar_io.jpg" alt="">
                <span class="header-text">Nome Utente</span>
                <div class="header-buttons">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <div class="notification-left">
                <div class="left-notification">
                    <i class="fa fa-bell-slash"></i>
                </div>
                <div class="right-notification">
                    <span>Ricevi notifiche dei nuovi messaggi</span>
                    <br>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>

            <div class="search-left">
                <div class="search-input-wrapper">
                    <input type="text" class="search-input" placeholder="Cerca o inizia una nuova chat">
                </div>
            </div>

            <div class="contacts-left">
                <div class="contact" v-for="(contact, indice) in contacts" @click="seleziona(indice)">
                    <div class="contact-logo">
                        <img :src="`img/avatar${contact.avatar}.jpg`" alt="">
                    </div>
                    <div class="contact-info">
                        <span class="test">{{contact.name}}</span>
                        <div class="Date-contact">
                            test
                        </div>
                        <div class="testo-messaggio">
                            ciao                          
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="right">
            <div class="header-right">
                <img class="avatar" :src="`img/avatar${contacts[profiloAttivo].avatar}.jpg`" alt="">
                <div class="header-contact">
                   <span class="contact-name">{{contacts[profiloAttivo].name}}</span>
                   <span class="contact-lastAccess">Ultimo accesso...</span>
                </div>
                
                <div class="header-buttons">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="message-right">
                <div class="message" :class="(message.status == 'sent') ? 'sent' : 'received'" v-for= "(message, index) in contacts[profiloAttivo].messages">
                    <span class="testo-mess">{{message.text}}</span>
                    <div class="sentDate">
                        {{message.date}}
                    </div>
                </div>
                <!-- <div class="message sent">
                    <span class="testo-mess">Lorem ipsum dolor sit amet</span>
                    <div class="sentDate">
                        10/01/2020 15:50:00
                    </div>
                </div> -->
            </div>
            <div class="bottom-right">
                <div class="left-footer-icon">
                    <i class="fa fa-smile"></i>
                </div>
                <input type="text" class="message-input" placeholder=" Scrivi un nuovo messaggio" v-model="newMessage" @keyup.enter="addMessage">
                <div class="right-footer-icon">
                    <i class="fa fa-microphone"></i>
                </div>
            </div>
        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js" type="text/javascript"></script>  
</body>
</html>